name: CMake Build Matrix

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.env.CI_NAME }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        env:
          - {BADGE: bionic,
             CI_NAME: "Melodic Build",
             CCACHE_DIR: $GITHUB_WORKSPACE/bionic/.ccache,
             DOCKER_IMAGE: "lharmstrong/tesseract:melodic",
             OS_NAME: ubuntu,
             OS_CODE_NAME: bionic,
             ROS_DISTRO: melodic,
             ROS_REPO: main,
             }
          - {BADGE: xenial,
             CI_NAME: "Kinetic Build",
             CCACHE_DIR: $GITHUB_WORKSPACE/xenial/.ccache,
             DOCKER_IMAGE: "lharmstrong/tesseract:kinetic",
             OS_NAME: ubuntu,
             OS_CODE_NAME: xenial,
             ROS_DISTRO: kinetic,
             ROS_REPO: main}

    steps:
    - uses: actions/checkout@v1

    - name: Prepare ccache timestamp
      id: ccache_cache_timestamp
      shell: cmake -P {0}
      run: |
        string(TIMESTAMP current_date "%Y-%m-%d-%H;%M;%S" UTC)
        message("::set-output name=timestamp::${current_date}")

    - name: ccache cache files
      uses: actions/cache@v1.1.0
      with:
        path: ${{ matrix.env.BADGE }}/.ccache
        key: ${{ matrix.env.CI_NAME }}-ccache-${{ steps.ccache_cache_timestamp.outputs.timestamp }}
        restore-keys: |
          ${{ matrix.env.CI_NAME }}--ccache-

    - uses: 'ros-industrial/industrial_ci@master'
      env: ${{matrix.env}}
